/*artigo */
.post-container {
  max-width: 800px;
  margin: 0 auto;
}
.post-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}
.post-meta {
  color: #aaa;
  margin-bottom: 2rem;
}
.post-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 2rem;
}
.post-content p {
  margin-bottom: 1.2rem;
  line-height: 1.7;
  color: #ddd;
}
.post-content h2 {
  color: grey;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.jogo{
  color: black;
  text-align: center;
  margin-top: 50px;
}

.slot-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.slot {
  width: 80px;
  height: 80px;
  background: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #ff9800;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #e68900;
}

.result {
  margin-top: 20px;
  font-size: 20px;
}