/*artigo */
.post-container {
  max-width: 800px;
  margin: 0 auto;
}
.post-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}
.post-meta {
  color: #aaa;
  margin-bottom: 2rem;
}
.post-image {
  width: 50%;
  border-radius: 12px;
  margin-bottom: 2rem;
}
.post-content p , ul {
  margin-bottom: 1.2rem;
  line-height: 1.7;
  color: #000000;
}
.post-content h2 {
  color: grey;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: #0a2540;
  color: #f6f9fc;
  padding: 15px 30px; /* aumenta o "gordura" */
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px; /* texto maior */
  transition: 0.2s;
}

.btn:hover {
  background-color: #425466;
}
